<html>
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/style/glosario.css">

        <title>Glosario</title>
    </head>
  <body>
    <%- include('./partials/header') %>
    <main id="glosario">
      <h1>Glosario</h1>
      <ul>
        <% for (post in posts) { %>
          <li>
          <a href="/glosario/<%= posts[post].slice(0, -3) %>">
            <%= titles[post]%>
          </a>
        </li>
        <% } %>
      </ul>
      </main>
    <%- include('./partials/footer') %>
  </body>
</html>