<html>
    <head>
        <%- include('./partials/head') %>

    </head>
  <body>
    <%- include('./partials/header') %>
    <div id="glosario">
      <% for (post of posts) { %>
        <a href="/glosario/<%= post.slice(0, -3) %>">
          <h3 class="post">
            ¿<%= post.slice(0, -3) %>?
          </h3>
        </a>
      <% } %>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>